@import "tailwindcss";

body {
  margin: 0;
  background: #f5f7f6;
}

button,
input {
  font-family: inherit;
}

[contenteditable="true"]:empty::before {
  content: "Start writing...";
  color: #a1a1aa;
}

.tiptap .collaboration-carets__caret {
  border-left: 2px solid;
  border-right: 2px solid;
  margin-left: -1px;
  margin-right: -1px;
  pointer-events: none;
  position: relative;
  word-break: normal;
}

.tiptap .collaboration-carets__label {
  position: absolute;

  top: -1.7em;
  left: -1px;

  border-radius: 6px 6px 6px 0;

  padding: 2px 6px;

  color: white;

  font-size: 11px;
  font-weight: 600;
  line-height: 1.4;

  user-select: none;
  white-space: nowrap;
}